body {
  background: linear-gradient(to right, #e3f2fd, #ffffff);
  font-family: 'Segoe UI', sans-serif;
}

.card {
  border-radius: 20px;
  max-width: 500px;
  margin: auto;
}

button:hover {
  background-color: #0d6efd !important;
}
